body{
    padding:20px;
}
.headline{
    margin-right: 10px;
}

.container{
    margin: -10px;
}
.navbarNavAltMarkup{
    margin-left: 55px;
}
.ele2{
    padding-top: 10px;
}
.ele{
    padding-top: 10px;
}